<h3>Todos List</h3>

<ul class="todos">
    @for (todo of todoItems(); track todo.id) {
     <!-- Einzelnes Todo-Element -->
     <li class="todos__item">
        <!-- Checkbox für den Status des Todos (completed) -->
        <!-- Die ID wird dynamisch basierend auf der Todo-ID generiert -->
        <input id="todo-{{todo.id}}" type="checkbox" [value]="todo.completed">
        
        <!-- Label für die Checkbox, das den Titel des Todos anzeigt -->
        <!-- Das Label ist mit der Checkbox über das for-Attribut verknüpft -->
        <label for="todo-{{todo.id}}">{{todo.title}}</label>
    </li>
    }
</ul>


<!-- <div *ngFor="let todo of todoItems; let i = index;">
    <p>{{ todo.title }}</p>
</div> -->